{% extends "template.html" %}

{% block title %}
    Register - Company
{% endblock %}

{% block main %}
<form action="/regcom" method="post">
    <div class="mt-3 mb-3">
        <input autocomplete="off" autofocus class="form-control w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control w-auto" id="company" name="company" placeholder="Company" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}